<input type="text" id="button1"/>
<br>
<input type="text" id="button2"/>
<br>
<input type="text" id="button3"/>
<br>
<input type="text" id="button4"/>
<br>
<input type="password" id="button5"/>


<select>
  <option value="">- Select -</option>
  <option value="0">No</option>
  <option value="1">Yes</option>
</select>

<label><input type="checkbox" /> Awesome? </label>
<input type="radio" name="foo" />
<input type="radio" name="foo" />

<input type="text" />

<a href="/api/test2">Click here</a>